* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.card {
    position: relative;
    height: 500px;
    aspect-ratio: 1/1.50;



    .card-body {
        color: white;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;

        .movie_overview {
            text-align: justify;
            font-style: italic;
        }


        .flag {
            border-radius: 2px;

        }

    }

    .poster {
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }

    &:hover {
        .card-body {
            display: block;
            background-color: rgba(0, 0, 0, 0.61)
        }

    }
}